$base-font: 'Helvetica Neue', sans-serif;

$font-body-14: 300 14px $base-font;
$font-body-16: 400 16px $base-font;
$font-h2-20: 400 20px $base-font;
$font-h2-20-m: 500 20px $base-font;
$font-h2-24: 500 24px $base-font;
$font-h1-48: 500 48px $base-font;
$font-h1-32: 400 32px $base-font;
$font-h1-36: 500 36px $base-font;
$font-h1-64: 700 64px $base-font;
$font-body-12: 400 12px $base-font;
